<div *ngIf="!hasTransmision" class="form">
  <div class="card">
    <label for="session">Session Id (id do alerta)</label>
    <input type="number" id="session" [(ngModel)]="sessionId" placeholder="Session Id">
    <button (click)="initApp()">Entrar na transmissão</button>
  </div>
</div>

<div id="body" *ngIf="hasTransmision">
  <div class="loading" *ngIf="loading">
      <img src="assets/images/loading_login.gif"  alt="" >
      <span><b>Entrando na transmissão...</b></span>
  </div>

  <div class="loading" *ngIf="transmissionClosed">
      <span><b>Fim da transmissão.</b></span>
  </div>
  
  <div id="streaming" *ngIf="!transmissionClosed">
      <div *ngFor="let user of remoteUsers" class="OT_root OT_publisher OT_remote custom-class" id="remoteUsers">
          <stream-component #streamComponentRemotes [user]="user" ></stream-component>
      </div>
  </div>
</div>  